@font-face {
    font-family: 'Op Light';
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Op Reg';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Op Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Op Ex Bold';
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Op Sem';
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Sq';
    src: url(../fonts/squareid-2\ \(1\).ttf);
    font-weight: 400;
    font-style: normal;
}