@import url('../styles/fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
a{
    font-family: 'Op Reg', sans-serif;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
.container{
    width: 1650px;
    margin: 0 auto;
}
.navigation__section {
    width: 100%;
    background-color: #212121;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 41px 0px 34px 0px;
}

.logo {
    display: flex;

}
.logo img{
    padding-right: 0.4rem;
}
.text__logo h1{
    font-family: 'Sq';
    font-size: 2rem;
    color: #00C2FF;
}
.text__logo h3{
    font-family: 'Op Light', sans-serif;
    font-size: 1rem;
    color: #FF7A00;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}
.nav a{
    color: #FAFAFA;
    text-align: center;
    font-family: 'Op Sem', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;

    padding-right: 4rem;

    transition: all ease 0.4s;
}
.nav a:hover{
    color: #00C2FF;
    transition: all ease 0.4s;
}
.lk__contact {
    display: flex;
    align-items: center;
}

.call{
    display: flex;
}
.call h4{
    color: #FAFAFA;
    font-family: 'Op Sem';
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: right;

    padding-left: 0.5rem;
}
.graphic__work p{
    color: #FAFAFA;
    font-family: 'Op Sem';
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
}
.graphic__work span{
    color: #00C2FF;
}
.number_graphic{
    padding-left: 2.2rem;
}
.lk-zanyatia__section{
    background-color: #FAFAFA;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.header_lk h1{
    color: #212121;
    font-family: 'Op Sem';
    font-size: 3.6rem;
    text-align: center;
    padding-bottom: 2.5rem;
}
.header_lk{
    width: 100%;
}
.nav_lk{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.nav_lk a{
    color: #212121;
    font-family: 'Op Reg';
    font-size: 1.8rem;
    text-align: center;

    transition: all ease 0.4s;
}
.nav_lk a:hover{
    color: #00C2FF;
    transition: all ease 0.4s;
}
.nav_lk a:nth-child(2){
    border-bottom: 1px solid #00C2FF;
}
.profile h1{
    color: #212121;
    font-family: 'Op Bold';
    font-size: 2.4rem;
}
.header_dannie h1{
    font-family: 'Op Reg';
}
.photo-box .photo{
    width: 19.7rem;
    height: 19.7rem;
    border-radius: 16.2rem;
    background-image: url(../imgs/avatar.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 1.5rem;
}
.photo-box a{
    color: #212121;
    font-family: 'Op Light';
    font-size: 1.4rem;
    text-decoration-line: underline;
}
form .field input {
    display: flex;
    width: 100%;
    padding: 1.2rem 2.5rem;
    align-items: center;
    border-radius: 1.1rem;
    background: #EFEFEF;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
form .field{
    color: #212121;
    font-family: 'Op Reg';
    font-size: 1.6rem;
}
button{
    width: 100%;
    display: flex;
    padding: 1rem 18.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background: #00C2FF;
    transition: all ease 0.4s;

    margin-top: 4rem;
}
button a{
    color: #FAFAFA;
    font-family: 'Op Reg';
    font-size: 1.8rem;
}

button:hover{
    background: #007599;
    transform: translateY(-20px);
    transition: all ease 0.4s;
}
.lk-zanyatia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_lk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 5rem;
}
.profile{
    width: 70%;
}
.dannie{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer__section{
    background-color: #212121;
}
.copyrite p{
    color: #A1A1A1;
    text-align: center;
    font-family: 'Op Light';
    font-size: 1.6rem;

    padding-top: 2rem;
}
.box__footer a{
    color: #A1A1A1;
    text-align: center;
    font-family: 'Op Light';
    font-size: 1.6rem;

    transition: all ease 0.4s;
}
.box__footer a:hover{
    color: rgb(1, 101, 131);
    transition: all ease 0.4s;
}
.footer{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 6.6rem 0rem 6.6rem 0rem;
}
.logotype__copyrite{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer__box_1, .footer__box_2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: left;
}
.nobullet{
    list-style-type: none;
}
.nobullet li{ 
    padding-bottom: 1rem;
}
.box__footer{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sohial{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.sohial #s_1{
    padding-right: 1.5rem;
}
.card_zanyatia{
    background-color: #FFF;
    box-shadow: 0px 4px 20.1px 0px rgba(0, 0, 0, 0.10);
    border-radius: 2rem;
}
.card_zanyatia p{
    color: #212121;
    font-family: Open Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2.5rem 10rem;
}
.cards__zanyatia{
    padding-top: 6rem;
    width: 100%;
}
.card_zanyatia{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 3rem;
}
